/* The Props */
@import "npm:open-props/open-props.min.css";

/* Prop Colors */
@import "npm:open-props/colors-hsl.min.css";

/* Prop Borders */
@import "npm:open-props/borders.min.css";

/* Prop Media */
@import "npm:open-props/media.min.css";

/* Prop Z-indexes */
@import "npm:open-props/zindex.min.css";

/* Prop Fonts */
@import "npm:open-props/fonts.min.css";

:root {
  /* Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-100: hsl(227, 100%, 98%);
  --neutral-200: hsl(222, 44%, 70%);
  --neutral-300: hsl(217, 20%, 51%);
  --neutral-500: hsl(217, 35%, 45%);
  --neutral-700: hsl(219, 21%, 21%);
  --neutral-800: hsl(222, 41%, 20%);
  --neutral-900: hsl(220, 40%, 13%);
  --neutral-1000: hsla(214, 32%, 91%);
  --neutral-2000: hsl(211, 51%, 18%);
  --neutral-3000: hsla(227, 46%, 50%, 0.2);
  --blue-300: hsl(212, 100%, 69%);
  --blue-500: hsl(212, 100%, 50%);
  --red-500: hsl(0, 92%, 62%);
  --theme-duration: 0.3s;
  --skeleton-duration: 1.5s;
  --motion-duration: 4s;
  --motion-preferred-duration: 0.00001s;

  /* Sizes */
  --size-0: 0;
  --size-025: calc(2 / 16 * 1rem);
  --size-05: calc(4 / 16 * 1rem);
  --size-075: calc(6 / 16 * 1rem);
  --size-100: calc(8 / 16 * 1rem);
  --size-125: calc(10 / 16 * 1rem);
  --size-130: calc(10.5 / 16 * 1rem);
  --size-150: calc(12 / 16 * 1rem);
  --size-200: calc(16 / 16 * 1rem);
  --size-250: calc(20 / 16 * 1rem);
  --size-220: calc(22.08 / 16 * 1rem);
  --size-254: calc(25.44 / 16 * 1rem);
  --size-300: calc(24 / 16 * 1rem);
  --size-400: calc(32 / 16 * 1rem);
  --size-500: calc(40 / 16 * 1rem);
  --size-600: calc(48 / 16 * 1rem);
  --size-800: calc(64 / 16 * 1rem);
  --size-1000: calc(80 / 16 * 1rem);

  /* Display */
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-0: 0;
  --radius-7: 4px;
  --radius-8: 6px;
  --radius-9: 8px;
  --radius-10: 10px;
  --radius-11: 12px;
  --radius-12: 15px;
  --radius-13: 20px;
  --radius-14: 24px;
  --radius-15: 26px;
  --radius-16: 28px;
  --radius-17: 30px;
  --radius-18: 34px;
  --radius-19: 36px;
  --radius-20: 38px;
  --radius-21: 40px;
  --radius-full: 999px;

  /* Typography */
  --ff-space-mono-monospace: var(--ff-space-mono), monospace;
  --ff-space-mono: "Space Mono";
  --font-size-9: 1.625rem;
  --font-size-10: 1.375rem;
  --font-size-11: 1.125rem;
  --font-size-12: 0.8125rem;
  --font-size-13: 0.9375rem;
  --font-lineheight-6: 1.2;
  --font-lineheight-7: 1.4;
  --font-lineheight-8: 1;

  /* For Screen Readers*/
  --sr-only-width: 1px;
  --sr-only-height: 1px;
  --sr-only-padding: 0px;
  --sr-only-margin: -1px;
  --sr-only-border-width: 0;
  --sr-only-left: -1000px;
  --sr-only-top: auto;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  transition:
    background-color var(--theme-duration) ease,
    color var(--theme-duration) ease,
    border-color var(--theme-duration) ease;
}

*::after,
*::before {
  transition:
    opacity var(--theme-duration) ease,
    transform var(--theme-duration) ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  /* eslint-disable-next-line css/use-baseline */
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: balance;
}

p {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
video,
canvas,
svg {
  display: var(--block);
  max-inline-size: 100%;
  block-size: auto;
}

body {
  inline-size: 100%;
  min-block-size: 100vb;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-space-mono-monospace);
  background-color: var(--background-color-body);
  display: var(--flex);
  flex-direction: column;
  gap: var(--size-fluid-4);
  padding-block-start: var(--size-fluid-4);
}

button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
}

input {
  inline-size: 100%;
  appearance: none;
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style-type: none;
}

textarea:not([rows]) {
  min-block-size: 10em;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

a:not([class]) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  /* eslint-disable css/no-important */
  * {
    transition: none !important;
  }

  html:focus-within {
    scroll-behavior: auto;
  }

  /* eslint-disable css/no-important */
  *,
  *::before,
  *::after {
    animation-duration: var(--motion-preferred-duration) !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: var(--motion-preferred-duration) !important;
  }
  /* eslint-enable css/no-important */
}

/* I keep getting an warning message from my Vscode IDE because I make use of @custom-media */

@custom-media --mouse (hover) and (pointer: fine);
@custom-media --md-n-above (width >= 768px);
@custom-media --xs-n-below (width < 360px);

@media (--mouse) {
  button[class="toggle-theme"] {
    &:is(:focus-visible) {
      border-radius: var(--radius-7);
      outline: 2px solid var(--outline);
      outline-offset: var(--size-px-1);
    }

    &:is(:hover, :focus-visible) > span {
      color: var(--hover-mode);
    }
  }

  .link-content > span:is(:hover)::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .navigation__header-logo:is(:focus-visible) {
    border-radius: var(--radius-9);
    outline: 8px solid var(--outline);
    outline-offset: var(--size-075);
  }

  .navigation__search-button:is(:hover) {
    background-color: var(--button-hover);
  }

  #searchForm {
    &:has(:focus-visible) {
      outline: 2px solid var(--outline);
      outline-offset: var(--size-px-1);

      button {
        outline: 2px solid var(--outline);
        outline-offset: var(--size-px-1);
      }
    }
  }

  .user-links > li:has(:focus-visible) {
    border-radius: var(--radius-7);
    outline: 2px solid var(--outline);
    outline-offset: var(--size-px-1);
  }
}

/* Screen Reader Styles */
.sr-only {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  inline-size: var(--sr-only-width);
  block-size: var(--sr-only-height);
  padding: var(--sr-only-padding);
  margin: var(--sr-only-margin);
  border-width: var(--sr-only-border-width);
  inset-block-start: var(--sr-only-top);
  inset-inline-start: var(--sr-only-left);
}

/* Performance tips to keep in mind when implementing prefers-color-scheme */
/* 1. Use CSS custom properties to avoid code duplication*/
/* 2. Minimize the number of style recalculation by grouping related elements*/
/* 3. Consider loading critical theme styles inline to prevent flash of unstyled content */
/* 4. Use efficient selectors to avoid unnecessary style computation */

/* Light Theme Styles */
[data-theme="light"] {
  color-scheme: dark;

  --shimmer: var(--neutral-1000);
  --background-color-body: var(--neutral-100);
  --background-color-component: var(--neutral-0);
  --devfinder-name: var(--neutral-700);
  --devfinder-username: var(--blue-500);
  --text-placeholder: var(--neutral-500);
  --text-primary: var(--neutral-500);
  --numbers: var(--neutral-700);
  --error-message: var(--red-500);
  --button: var(--blue-500);
  --button-hover: var(--blue-300);
  --outline: var(--blue-500);
  --hover-mode: var(--neutral-700);
  --logo: var(--neutral-900);
  --theme-toggle: var(--neutral-500);
  --box-shadow: 0 16px 30px -10px var(--neutral-3000);
  --no-results-found-summary: var(--neutral-700);
  --no-results-found-text: var(--neutral-300);
  --input-text: var(--neutral-700);
}

/* Dark Theme Styles */
[data-theme="dark"] {
  color-scheme: dark;

  --shimmer: var(--neutral-2000);
  --background-color-body: var(--neutral-900);
  --background-color-component: var(--neutral-800);
  --devfinder-name: var(--neutral-0);
  --devfinder-username: var(--blue-300);
  --text-placeholder: var(--neutral-0);
  --text-primary: var(--neutral-0);
  --numbers: var(--neutral-0);
  --error-message: var(--red-500);
  --button: var(--blue-500);
  --button-hover: var(--blue-300);
  --outline: var(--blue-500);
  --hover-mode: var(--neutral-0);
  --logo: var(--neutral-0);
  --theme-toggle: var(--neutral-200);
  --box-shadow: unset;
  --no-results-found-summary: var(--neutral-0);
  --no-results-found-text: var(--neutral-200);
  --input-text: var(--neutral-0);
}

/* The Header Styles */
.header,
.app {
  inline-size: min(92%, 45.625rem);
  margin-inline: auto;
}

.navigation__header {
  display: var(--flex);
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--size-fluid-4);
}

.navigation__header-logo {
  font-weight: var(--font-weight-7);
  font-style: normal;
  line-height: var(--font-lineheight-8);
  color: var(--logo);
  font-size: var(--font-size-9);
  letter-spacing: -0.02em;
}

span[class="color-theme"] {
  font-style: normal;
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-12);
  line-height: var(--font-lineheight-7);
  letter-spacing: 0.15625rem;
  color: var(--theme-toggle);
}

/* Hide both the button icons and span text by default 
 */
button[class="toggle-theme"] > :is(img, span) {
  display: var(--hidden);
}

/* Hide both search icons by default */
form > img {
  display: var(--hidden);
  margin-inline-end: var(--size-2);

  @media (--md-n-above) {
    margin-inline-end: var(--size-4);
  }
}

/* On light mode display the moon icon and the dark text that enables the dark theme */
[data-theme="light"]
  :is(
    img[class="icon-moon"],
    span[data-set-theme="dark"],
    img[class="search-icon__light"],
    img[data-link-icon-theme="dark"],
    img[data-image-search-user-theme="light"]
  ) {
  display: var(--block);
}

/* On dark mode display the sun icon and the light text that enables the light theme */
[data-theme="dark"]
  :is(
    img[class="icon-sun"],
    span[data-set-theme="light"],
    img[class="search-icon__dark"],
    img[data-link-icon-theme="light"],
    img[data-image-search-user-theme="dark"]
  ) {
  display: var(--block);
}

img[data-image-search-user-theme="dark"],
img[data-image-search-user-theme="light"] {
  margin-inline: auto;
}

button[class="toggle-theme"] {
  display: var(--flex);
  align-items: center;
  gap: var(--size-fluid-1);
}

/* The form component */
#searchForm {
  background-color: var(--background-color-component);
  border-radius: var(--radius-3);
  box-shadow: var(--box-shadow);
  display: var(--flex);
  align-items: center;
  padding-block: var(--size-130);
  padding-inline-end: var(--size-150);
  padding-inline-start: var(--size-150);
  font-style: normal;

  @media (--md-n-above) {
    padding-block: var(--size-220);
    padding-inline-start: var(--size-300);
  }
}

/* Remove the built-in clear (x) button + decoration */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: var(--hidden);
}

/*  Remove the Edge/IE clear button  */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: var(--hidden);
  inline-size: 0;
  block-size: 0;
}

input[type="search"] {
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-7);
  color: var(--input-text);
  font-size: var(--font-size-1);
  caret-color: var(--input-text);

  @media (--md-n-above) {
    font-size: var(--font-size-11);
  }
}

/* Style the search input placeholder */
input::placeholder {
  color: var(--text-placeholder);
  font-style: normal;
  font-weight: var(--font-weight-4);
  font-size: calc(11 / 16 * 1rem);
  line-height: var(--font-lineheight-7);
  opacity: 0.7;

  @media (--md-n-above) {
    font-size: var(--font-size-11);
  }
}

.navigation__search {
  position: relative;
}

/* Style the "search" button */
.navigation__search-button {
  background-color: var(--blue-500);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-3);
  border-radius: var(--radius-10);
  padding-block: var(--size-150);
  padding-inline: var(--size-250);

  @media (--md-n-above) {
    padding-inline: var(--size-300);
  }
}

/* Error Message */
p[aria-hidden="true"] {
  display: var(--hidden);
}

p[aria-hidden="false"] {
  font-size: var(--font-size-fluid-0);
  font-style: normal;
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-3);
  color: var(--error-message);
  position: absolute;

  inset: calc(75 / 16 * 1rem) calc(15 / 16 * 1rem) auto auto;

  @media (--md-n-above) {
    inset: calc(34 / 16 * 1rem) calc(150 / 16 * 1rem) auto auto;
  }
}

.app {
  background-color: var(--background-color-component);
  border-radius: var(--radius-3);
  box-shadow: var(--box-shadow);
  margin-block-end: calc(96.96 / 16 * 1rem);
}

/* SKeleton loader animation  */
.app-skeleton-body {
  padding-inline: var(--size-300);
  padding-block: var(--size-fluid-4);

  @media (--md-n-above) {
    padding-inline: var(--size-fluid-4);
  }
}

.app-skeleton-avatar {
  position: unset;
  inset: unset;
  inline-size: calc(70 / 16 * 1rem);
  block-size: calc(70 / 16 * 1rem);

  @media (--md-n-above) {
    inline-size: calc(117 / 16 * 1rem);
    block-size: calc(117 / 16 * 1rem);
    position: absolute;
    inset: 0 auto auto auto;
    transform: translateX(calc(-149 / 16 * 1rem));
  }
}

.app-skeleton-avatar div {
  inline-size: calc(70 / 16 * 1rem);
  block-size: calc(70 / 16 * 1rem);
  border-radius: 50%;

  @media (--md-n-above) {
    inline-size: calc(117 / 16 * 1rem);
    block-size: calc(117 / 16 * 1rem);
  }
}

.app-skeleton-profile-section {
  @media (--md-n-above) {
    margin-inline-start: 9.31rem;
    position: relative;
  }
}

.app-skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--background-color-body);
}

.app-skeleton-line {
  block-size: calc(23 / 16 * 1rem);
  border-radius: var(--radius-10);

  @media (--xs-n-below) {
    block-size: var(--size-px-3);
  }
}

.app-skeleton-line__name {
  block-size: calc(31 / 16 * 1rem);
  border-radius: var(--radius-10);

  @media (--xs-n-below) {
    block-size: var(--size-px-5);
  }
}

.app-skeleton-line__name.w-name {
  inline-size: 90%;
  margin-block-end: var(--size-1);
}

.app-skeleton-line.w-link {
  inline-size: 85%;
}

.app-skeleton-line.w-username {
  margin-block-end: var(--size-1);
  inline-size: 40%;

  @media (--md-n-above) {
    margin-block-end: unset;
  }
}

.app-skeleton-line.w-joindate {
  inline-size: min(85%, calc(200 / 16 * 1rem));
}

.app-skeleton-line__stats {
  height: calc(229 / 16 * 1rem);
  border-radius: var(--radius-10);

  @media (--md-n-above) {
    height: calc(85 / 16 * 1rem);
    border-radius: var(--radius-10);
  }
}

.app-skeleton-profile-section__user-profile {
  display: var(--flex);
  gap: var(--size-4);

  @media (--md-n-above) {
    gap: unset;
    display: unset;
  }
}

.app-skeleton_username-name-joindate__wrapper {
  flex-basis: calc(100% - calc(90 / 16 * 1rem));

  @media (--md-n-above) {
    display: var(--flex);
    flex-basis: unset;
  }
}

.app-skeleton__username-name {
  flex-basis: unset;

  @media (--md-n-above) {
    flex-basis: 65%;
  }
}

.app-skeleton-profile-section__bio {
  margin-block: var(--size-5);
}

.app-skeleton-profile-section__stats {
  margin-block-end: var(--size-300);
}

.app-skeleton-profile-section__links {
  display: var(--flex);
  flex-direction: column;
  gap: var(--size-3);

  @media (--md-n-above) {
    flex-direction: row;
    flex-wrap: wrap;

    * {
      flex-basis: calc(50% - var(--size-3));
      flex-grow: 1;
    }
  }
}

.app-skeleton.animate.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--shimmer) 50%,
    transparent 100%
  );
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-direction: alternate;
  animation-duration: var(--skeleton-duration);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Search success: styles for the populated GitHub user profile */
.app-profile {
  padding-inline: var(--size-300);
  padding-block-start: var(--size-fluid-4);

  @media (--md-n-above) {
    padding-inline: var(--size-fluid-4);
  }
}

.app-profile__information {
  position: unset;
  margin-inline-start: unset;

  @media (--md-n-above) {
    position: relative;
    margin-inline-start: 9.31rem;
  }
}

.app-profile__information__wrapper {
  display: var(--flex);
  gap: var(--size-4);

  @media (--md-n-above) {
    display: unset;
    gap: unset;
  }
}

.app-profile__information-img {
  position: unset;
  inset: unset;

  @media (--md-n-above) {
    position: absolute;
    inset: 0 auto auto auto;
    transform: translateX(calc(-149 / 16 * 1rem));
  }
}

.app-profile__img-placeholder {
  inline-size: calc(70 / 16 * 1rem);
  block-size: calc(70 / 16 * 1rem);
  border-radius: 50%;

  @media (--md-n-above) {
    inline-size: calc(117 / 16 * 1rem);
    block-size: calc(117 / 16 * 1rem);
  }
}

.app-profile__information-header {
  flex-basis: calc(100% - calc(90 / 16 * 1rem));

  @media (--md-n-above) {
    flex-basis: unset;
    display: var(--flex);
  }
}

.user-profile {
  @media (--md-n-above) {
    flex-basis: 32.5ch;
  }
}

.user-profile__name {
  color: var(--devfinder-name);
  font-size: var(--font-size-9);
  font-style: normal;
  line-height: var(--font-lineheight-6);
  font-weight: var(--font-weight-7);
}

.user-profile__username {
  color: var(--devfinder-username);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-3);
  font-style: normal;
  font-weight: var(--font-weight-4);

  @media (--xs-n-below) {
    font-size: var(--font-size-12);
  }
}

/* The user stats */
.app-profile__information-stats {
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-10);
  margin-block-end: var(--size-300);
  background-color: var(--background-color-body);

  @media (--md-n-above) {
    padding-inline: var(--size-7);
    padding-block: calc(15.04 / 16 * 1rem);
  }
}

.user-stats {
  display: var(--flex);
  flex-direction: column;
  gap: var(--size-200);

  @media (--md-n-above) {
    flex-direction: row;
    gap: unset;

    * {
      flex: 1; /* same as flex: 1 1 0% */
      min-inline-size: 0;
    }
  }
}

li[class^="user-stats__"] > p > span {
  display: var(--block);
  font-style: normal;

  &:first-child {
    margin-block-end: var(--size-05);
    font-size: var(--font-size-12);
    line-height: var(--font-lineheight-3);
    font-weight: var(--font-weight-4);
    color: var(--text-primary);
  }

  &:last-child {
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-7);
    line-height: var(--font-lineheight-7);
    color: var(--numbers);
  }
}

/* The links */
.app-profile__information-links {
  margin-block-end: var(--size-fluid-4);
}

.user-links {
  display: var(--flex);
  flex-direction: column;
  gap: var(--size-3);

  @media (--md-n-above) {
    flex-direction: row;
    flex-wrap: wrap;

    * {
      flex-basis: calc(50% - var(--size-3));
      flex-grow: 1;
    }
  }
}

.user-links img {
  display: var(--hidden);
}

li[class^="user-links__"] {
  display: var(--flex);
  gap: var(--size-3);
  align-items: center;

  @media (--md-n-above) {
    & > img {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
}

.join-date,
.fade_not-available,
.bio-content,
.location-content,
.link-content,
.company-content {
  color: var(--text-primary);
  font-size: var(--font-size-13);
  line-height: var(--font-lineheight-3);
  font-style: normal;
  font-weight: var(--font-weight-4);
}

.join-date {
  @media (--md-n-above) {
    flex-basis: 37%;
  }

  @media (--xs-n-below) {
    font-size: var(--font-size-12);
  }
}

.link-content > span {
  position: relative;
}

.link-content > span::after {
  content: "";
  position: absolute;
  /* inset: top right bottom left */
  inset: auto 0 4px 0;
  background-color: currentColor;
  height: 0.01em;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
}

.fade_not-available {
  opacity: 0.75;
}

.available {
  opacity: 1;
}

.app-profile__information-bio {
  margin-block: var(--size-5);
}

/* Error State -- No result Found and Initial Loaded content */
.app-no-profile-found,
.app-search-user-profile,
.app-no-internet {
  padding-block: var(--size-5);
  padding-inline: var(--size-5);

  @media (--md-n-above) {
    padding-block: var(--size-8);
    padding-inline: var(--size-8);
  }
}

.app-no-result-found p,
.app-user-profile-search p,
.app-no-network-connection p {
  text-align: center;
}

.app-no-profile-found__summary,
.app-user-profile-search__summary,
.app-no-network-connection__summary {
  font-style: normal;
  font-size: var(--font-size-13);
  line-height: var(--font-lineheight-7);
  color: var(--no-results-found-summary);
  font-weight: var(--font-weight-7);
  margin-block-end: var(--size-3);

  @media (--md-n-above) {
    font-size: var(--font-size-10);
  }
}

.app-no-profile-found__text,
.app-user-profile-search__text,
.app-no-network-connection__text {
  font-style: normal;
  line-height: var(--font-lineheight-3);
  font-weight: var(--font-weight-4);
  color: var(--no-results-found-text);
  font-size: var(--font-size-00);

  @media (--md-n-above) {
    font-size: var(--font-size-13);
  }
}

.app-user-profile-search img {
  display: var(--hidden);
}
