/* The Props */
@import "npm:open-props/open-props.min.css";

/* Prop Colors */
@import "npm:open-props/colors-hsl.min.css";

/* Prop Borders */
@import "npm:open-props/borders.min.css";

/* Prop Media */
@import "npm:open-props/media.min.css";

/* Prop Z-indexes */
@import "npm:open-props/zindex.min.css";

/* Prop Fonts */
@import "npm:open-props/fonts.min.css";

:root {
  /* Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-100: hsl(227, 100%, 98%);
  --neutral-200: hsl(222, 44%, 70%);
  --neutral-300: hsl(217, 20%, 51%);
  --neutral-500: hsl(217, 35%, 45%);
  --neutral-700: hsl(219, 21%, 21%);
  --neutral-800: hsl(222, 41%, 20%);
  --neutral-900: hsl(220, 40%, 13%);
  --blue-300: hsl(212, 100%, 69%);
  --blue-500: hsl(212, 100%, 50%);
  --red-500: hsl(0, 92%, 62%);

  /* Sizes */
  --size-0: 0;
  --size-025: 2px;
  --size-075: 6px;
  --size-125: 10px;
  --size-500: 40px;

  /* Display */
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-0: 0;
  --radius-7: 4px;
  --radius-8: 6px;
  --radius-9: 8px;
  --radius-10: 10px;
  --radius-11: 12px;
  --radius-12: 15px;
  --radius-13: 20px;
  --radius-14: 24px;
  --radius-15: 26px;
  --radius-16: 28px;
  --radius-17: 30px;
  --radius-18: 34px;
  --radius-19: 36px;
  --radius-20: 38px;
  --radius-21: 40px;
  --radius-full: 999px;

  /* Typography */
  --ff-space-mono-monospace: var(--ff-space-mono), monospace;
  --ff-space-mono: "Space Mono";
  --font-size-9: 1.625rem;
  --font-size-10: 1.375rem;
  --font-size-11: 1.125rem;
  --font-size-12: 0.8125rem;
  --font-size-13: 0.9375rem;
  --font-lineheight-6: 1.2;
  --font-lineheight-7: 1.4;

  /* For Screen Readers*/
  --sr-only-width: 1px;
  --sr-only-height: 1px;
  --sr-only-padding: 0px;
  --sr-only-margin: -1px;
  --sr-only-border-width: 0;
  --sr-only-left: -1000px;
  --sr-only-top: auto;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  /* eslint-disable-next-line css/use-baseline */
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: balance;
}

p {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
video,
canvas,
svg {
  display: var(--block);
  max-inline-size: 100%;
  block-size: auto;
}

body {
  inline-size: 100%;
  min-block-size: 100vb;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-space-mono-monospace);
  background-color: var(--background-color-body);
  display: var(--flex);
  flex-direction: column;
  gap: var(--size-fluid-4);
  padding-block-start: var(--size-fluid-4);
}

button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
}

input {
  inline-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: inherit;
  list-style-type: none;
}

textarea:not([rows]) {
  min-block-size: 10em;
}

a:focus,
button:focus {
  outline: none;
}

a:not([class]) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  /* eslint-disable css/no-important */
  * {
    transition: none !important;
  }

  html:focus-within {
    scroll-behavior: auto;
  }

  /* eslint-disable css/no-important */
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
  /* eslint-enable css/no-important */
}

@custom-media --mouse (hover) and (pointer: fine);

@media (--mouse) {
  button[class="toggle-theme"] {
    &:is(:hover, :focus-visible) > span {
      color: var(--hover-mode);
    }
  }
}

/* Screen Reader Styles */
.sr-only {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  inline-size: var(--sr-only-width);
  block-size: var(--sr-only-height);
  padding: var(--sr-only-padding);
  margin: var(--sr-only-margin);
  border-width: var(--sr-only-border-width);
  inset-block-start: var(--sr-only-top);
  inset-inline-start: var(--sr-only-left);
}

/* Performance tips to keep in mind when implementing prefers-color-scheme */
/* 1. Use CSS custom properties to avoid code duplication*/
/* 2. Minimize the number of style recalculation by grouping related properties*/
/* 3. Consider loading critical theme styles inline to prevent flash of unstyled content */
/* 4. Use efficient selectors to avoid unnecessary style computation */

/* Light Theme Styles */
[data-theme="light"] {
  color-scheme: dark;

  --background-color-body: var(--neutral-100);
  --background-color-component: var(--neutral-0);
  --devfinder-name: var(--neutral-700);
  --devfinder-username: var(--blue-500);
  --text-placeholder: var(--neutral-500);
  --text-primary: var(--neutral-500);
  --numbers: var(--neutral-700);
  --error-message: var(--red-500);
  --button: var(--blue-500);
  --button-hover: var(--blue-300);
  --outline: var(--blue-500);
  --hover-mode: var(--neutral-700);
  --logo: var(--neutral-900);
  --theme-toggle: var(--neutral-500);
}

/* Dark Theme Styles */
[data-theme="dark"] {
  color-scheme: dark;
  --background-color-body: var(--neutral-900);
  --background-color-component: var(--neutral-800);
  --devfinder-name: var(--neutral-0);
  --devfinder-username: var(--blue-300);
  --text-placeholder: var(--neutral-0);
  --text-primary: var(--neutral-0);
  --numbers: var(--neutral-0);
  --error-message: var(--red-500);
  --button: var(--blue-500);
  --button-hover: var(--blue-300);
  --outline: var(--blue-500);
  --hover-mode: var(--neutral-0);
  --logo: var(--neutral-0);
  --theme-toggle: var(--neutral-200);
}

/* The Loader Styles */
div[class~="loader"] {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* eslint css/no-invalid-properties: ["error", { allowUnknownVariables: true }] */
  z-index: var(--layer-5);
}

div[class~="loader"][data-fade~="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

div[class~="loader"][data-fade~="false"] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* The Header Styles */
.header {
  inline-size: min(92%, 45.625rem);
  margin-inline: auto;
}

.navigation__header {
  display: var(--flex);
  align-items: center;
  justify-content: space-between;
}

.navigation__header-logo {
  font-weight: var(--font-weight-7);
  font-style: normal;
  line-height: 1;
  color: var(--logo);
  font-size: 1.625rem;
  letter-spacing: -0.02em;
}

span[class="color-theme"] {
  font-style: normal;
  font-weight: var(--font-weight-7);
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0.15625rem;
  color: var(--theme-toggle);
}

/* Hide both the button icons and span text by default 
 */
button[class="toggle-theme"] > :is(img, span) {
  display: none;
}

/* On light mode display the moon icon and the dark text that enables the light theme */
[data-theme="light"] :is(img[class="icon-moon"], span[data-set-theme="light"]) {
  display:inline-block;
}

/* On dark mode display the sun icon and the light text that enables the dark theme */
[data-theme="dark"] :is(img[class="icon-sun"], span[data-set-theme="dark"]) {
  display:inline-block;
}

button[class="toggle-theme"] {
  display: var(--flex);
  align-items: center;
  gap: var(--size-fluid-1);
}

